.fundo {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  background-image: url('../assets/fundo.jpg');
  background-size: cover;
  z-index: 2;
  opacity: 0.3;
}

.container {
  width: 1024px;
  height: 100vh;

  display: flex;
  align-items: center;

  padding: 2rem;
  border: 1px solid white;

  margin-left: calc((100vw - 1024px)/2);
  z-index: 10;
}

.box {
  display: flex;
  width: 50%;

}

.apresentacao {
  display: flex;
  align-items: center;
  width: 600px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.subtitulo {
  display: flex;
  align-items: center;
}

.subtitulo a {
  margin-right: 16px;
}

.subtitulo a:hover {
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {

  .container {
    margin-left: 16px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

  .container {
    margin-left: 16px;
  }

}